.git/**
.kiro/**
.vscode/**
node_modules/**
client/node_modules/**
client/src/**
client/tsconfig.json
client/tsconfig.tsbuildinfo
server/node_modules/**
server/src/**
server/tsconfig.json
server/tsconfig.tsbuildinfo
server/jest.config.js
test/**
*.ts
*.map
tsconfig.json
webpack.config.js
package-lock.json
client/package-lock.json
server/package-lock.json
.gitignore
